
*.kicad_pcb-bak
*.sch-bak
Code/diybmsCurrentShunt/include/EmbeddedFiles_Defines.h
Code/diybmsCurrentShunt/.vscode/extensions.json
Code/diybmsCurrentShunt/compile_commands.json
Code/diybmsCurrentShunt/.vscode/extensions.json
Code/diybmsCurrentShunt/.vscode/extensions.json
